/* || RESET */

*,
*::before,
*::after {
    padding: 0;
    border: unset;
    margin: 0;
    box-sizing: border-box;
}

input,
textarea,
button {
    font-family: inherit;
}

/* || VARIABLES */ 

:root {
    /* COLORS */
    --green-200: 148 38% 91%;
    --green-600: 169 82% 27%;
    --green-800: 185 24% 22%;
    --red: 0 66% 54%;

    --white: 0 0 100%;
    --grey-500: 186 15% 59%;
    --grey-900: 187 24% 22%;

    /* TYPOGRAPHY */
    --font-family-primary: "Karla";
}

/* || BASE */

html {
    font-family: var(--font-family-primary), sans-serif;
}

h1 {
    font-size: 2rem;
}

ul {
    list-style-type: none;
}

input[type="radio"],
input[type="checkbox"] {
    appearance: none;
    padding: 0;
}

textarea {
    resize: none;
}

/* || UTILITIES */

.u-sr-only {
    position: absolute;
    right: 100%; bottom: 100%;
    clip-path: inset(100%);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.u-flex-column {
    display: flex;
    flex-direction: column;
}

.u-shrink-0 {
    flex-shrink: 0;
}

.u-span-row {
    grid-column: 1 / -1;
}

/* || BLOCKS */

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 1rem;
    background-color: hsl(var(--green-200));
}

.page__inner {
    width: min(46rem, 100%);
    padding: 1.5rem;
    border-radius: 16px;
    background-color: hsl(var(--white));
}

.page__heading {
    color: hsl(var(--grey-900));
}

.page__form {
    margin-top: 2.25rem;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.75rem;
}

.form__section {
    gap: 0.75rem;
}

.form__group {
    gap: 1.25rem;
    padding-top: 1.25rem;
}

.form__row {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 0.875rem 0;
}

.label {
    font-size: 1rem;
    color: hsl(var(--grey-900));
}

.label_required::after {
    content: "*";
    margin-left: 0.5rem;
    color: hsl(var(--green-600));
}

.field {
    padding: 0.875rem 1.375rem;
    border: 1px solid hsl(var(--grey-500));
    border-radius: 8px;
    font-size: 1.125rem;
    color: hsl(var(--grey-900));
}

.field_invalid {
    border-color: hsl(var(--red));
}

.field_type_multiline {
    height: 15rem;
}

.field:hover {
    border-color: hsl(var(--green-600));
}

.error {
    display: none;
    font-size: 1rem;
    color: hsl(var(--red));
}

.error_active {
    display: block;
}

.options {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.option {
    display: flex;
    align-items: center;
    gap: 0.875rem;
    padding: 0.875rem 1.375rem;
    border: 1px solid hsl(var(--grey-500));
    border-radius: 8px;
    font-size: 1.125rem;
    color: hsl(var(--grey-900));
    cursor: pointer;
}

.option_selected {
    border-color: hsl(var(--green-600));
    background-color: hsl(var(--green-200));
}

.radio {
    position: relative;
    width: 1.125rem;
    height: 1.125rem;
    border: 2px solid hsl(var(--grey-500));
    border-radius: 50%;
    cursor: pointer;
}

.radio::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 50%;
    opacity: 0;
    background:
        url("assets/images/icon-radio-selected.svg") no-repeat 0 0 / 100% 100%;
}

.radio:checked::before {
    opacity: 1;
}

.checkbox {
    position: relative;
    width: 1.125rem;
    height: 1.125rem;
    border: 2px solid hsl(var(--grey-500));
    cursor: pointer;
}

.checkbox::before {
    content: "";
    position: absolute;
    inset: -2px;
    opacity: 0;
    background:
        url("assets/images/icon-checkbox-check.svg") no-repeat 0 0 / 100% 100%;    
}

.checkbox:checked::before {
    opacity: 1;
}

.btn {
    padding: 1.125rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
    color: hsl(var(--white));
    background-color: hsl(var(--green-600));
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(var(--green-800));
}

.toast {
    position: fixed;
    left: 50%; top: 1.25rem;
    transform: translateX(-50%);
    display: none;
    min-width: 18rem;
    padding: 1.625rem 1.5rem;
    border-radius: 12px;
    background-color: hsl(var(--green-800));
}

.toast_active {
    display: block;
}

.toast__title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.125rem;
    color: hsl(var(--white));
}

.toast__content {
    margin-top: 0.625rem;
    font-size: 1rem;
    color: hsl(var(--grey-500));
}

/* || ANIMATIONS */

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* || MEDIA QUERIES */

@media screen and (min-width: 32rem) {
    .page__inner {
        padding: 2.5rem;
    }

    .form {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    .options {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 48rem) {
    .field_type_multiline {
        height: 6.75rem;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .field {
        transition: border-color 0.15s ease-in;
    }

    .radio::before {
        transition: opacity 0.15s ease-in;
    }

    .checkbox::before {
        transition: opacity 0.15s ease-in;
    }

    .btn {
        transition: background-color 0.15s ease-in;
    }

    .toast_fade_in {
        animation: fadeIn 0.3s ease-in forwards;
    }

    .toast_fade_out {
        animation: fadeOut 0.3s ease-in forwards;
    }
}